#/rundir/*
#!/rundir/inpara.txt
#!/rundir/inpara_alpdead.txt
#!/rundir/Makefile
#!/rundir/*.gnu
#!/rundir/plota
#!/rundir/run
#!/rundir/find.f90
#!/rundir/find2.f90

/rundir/*.out
/rundir/*.eps
/rundir/*.mod
/rundir/*.png
/rundir/obj/
/rundir/obj/*
/rundir/armipara.f90
